<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>chapter11_example_3</title>
</head>
<body>
<div class="person_table">
  <table border="1">
    <thead>
      <th>姓名</th>
      <th>年龄</th>
      <th>月薪</th>
      <th>电话</th>
    </thead>
    <tbody>
      <tr><td>费言</td><td>20</td><td>9999</td><td>1234567</td></tr>
      <tr><td>杜子藤</td><td>18</td><td>5000</td><td>7654321</td></tr>
      <tr><td>赖月金</td><td>60</td><td>5666</td><td>1832388</td></tr>
      <tr><td>史珍香</td><td>19</td><td>2200</td><td>7474974</td></tr>
      <tr><td>范统</td><td>30</td><td>10000</td><td>33445566</td></tr>
    </tbody>
  </table>
</div>
</body>
</html>
